@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    /* scroll-behavior: smooth; */
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: #212121;
    overflow-y: hidden;
}

/* login and register */

.From-error-message {
    padding: 1rem;
    width: 25rem;
    text-align: center;

    & .error {
        color: rgb(237 60 41);
    }

    & .success {
        color: #52b788;
    }
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 3rem 3rem;
    border-radius: 1rem;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(70px);
    -webkit-backdrop-filter: blur(70px);
    background-color: #303030;
}

.img-logo img {
    width: 400px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.login-input-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.input-container {
    border: none;
    background-color: #fff;
    /* padding: 1rem 2rem; */
    border-radius: 2rem;
    outline: none;
    display: flex;
    align-items: center;
    width: 25rem;
    gap: 10px;

    & button {
        border: none;
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        cursor: pointer;
    }
}

.input-container input:-webkit-autofill,
.input-container input:-webkit-autofill:hover,
.input-container input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #000 !important;
}

.login-input {
    border: none;
    background: none;
    outline: none;
    padding: 1rem 1.4rem;
    border-radius: 2rem;
    font-size: 16px;
    line-height: 1rem;
}

.login-btn {
    width: 100%;
}

.login-btn .btn {
    padding: 1rem;
    width: 100%;
    border-radius: 2rem;
    border: none;
    outline: none;
    background: #3441af;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;

    &:hover {
        background-color: #3440afbc;
    }
}

.login-btn .btn:focus{
    background-color: #3d49b1bc;
}

.login-input-error {
    color: rgb(237 60 41);
    padding: 5px 5px 5px 10px;
}

.page-direct {
    display: flex;
    color: #fff;
    gap: 5px;

    & a {
        text-decoration: none;
        color: #708DFF;
        font-weight: 600;
    }
}

@media (max-width:600px) {

    .login-container {
        padding: 0rem;
        width: 100%;
        background-color: inherit;
        box-shadow: none;
    }

    .login-input {
        width: 100%;
    }

    .input-container {
        padding: 10px;
        border-radius: 2rem;
        width: 18rem;
    }

    .input-container .login-input {
        height: 2rem;
        padding: 0 0 0 20px;
        border-radius: 2rem;
    }

    .login-container .img-container .img-logo img {
        width: 300px;
    }

    .From-error-message {
        padding: 1rem;
        width: 20rem;
    }
}

/* chat page */

.Back {
    color: #fff;
    font-size: 20px;
    position: absolute;
    left: 1.5rem;
    display: none;
    cursor: pointer;
}

.Back-user-chat{
    color: #fff;
    font-size: 20px;
    /* left: 1.5rem; */ 
    display: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin: 10px 10px 10px 0;
}

.Back-user-chat:hover {
    background-color: #252525;
    border-radius: 50%; 
}

.chat-container {
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-list-container {
    width: 30%;
    height: 100vh;
    background-color: #161717;
    border-right: 1px solid #383b3b;
}

.user-chat-container {
    width: 70%;
    height: 100vh;
    background-color: #161717;
}

.user-child-chat-container{
    height: 100%;
    display: none;
}

.user-chat-header-logo {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 1.5rem;
}

.user-chat-header a img {
    width: 150px;
    margin: 10px 20px;
    cursor: pointer;
}

.user-chat-header-icon {
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
    color: #fff;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    &:hover{
        background-color: #525252;
    }
}

.logout-container{
    width: 7rem;
    height: 7rem;
    border: 1px solid #383b3b6e;
    backdrop-filter: blur(5px);
    display: none;
    align-items: center;
    justify-content: center;
    position:absolute;
    top: 4rem;
    left: 20vw;
    border-radius: 10px;
    z-index: 100;
    color: #fff;
}

@media (max-width:900px) {
    .logout-container{
        right: 3rem;
        left:auto;
    }
}

.logout-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 14px;
    cursor: pointer;
}

.logout-item .pad{
    gap: 5px;
    padding: 5px 11.5px 5px; 
    border-radius: 5px;
    &:hover{
        background-color: #383b3b;
    }
}

.logout-item .de{
    padding: 5px 27px 5px; 
    border-radius: 5px;
    &:hover{
        background-color: #383b3b;
    }
}
.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    & svg{
        color: #fff;
    }
}

.user-logout {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    & svg{
        width: 18px;
    }
    &:hover{
        background-color: #383b3b;
    }
}

.user-logout button {
    background: none;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.Mode-change button{
    cursor: pointer;
}

/* profile */


.profile-edit-container{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    backdrop-filter: blur(5px);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.profile-edit-container .profile-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1c1c1c;
    & svg{
        width: 100px;
        height: 100px;
    }
}

.profile-main-section{
    width: 40rem;
    height: 30rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #303030;
    position: relative;
}

.profile-container .arrow-profile{
    display: none;
}

@media (max-width:600px) {
    .profile-main-section{
        width: 21rem;
        height: 30rem;
    }
    .close-btn{
        left: 1rem;
    }

    .profile-container .xmark-profile{
        display: none;
    }

    .profile-container .arrow-profile{
        display: flex;
    }
}

.profile-edit-input{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
}
.user-input-section-profile-edit{
    border-radius: 1.5rem;
}

.close-btn{
    position: absolute;
    right: 3rem;
    top: 2rem;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    &:hover{
        background-color: #525252;
    }
}

.user-input-section-profile-edit input,.btn-user-profile{
    outline: none;
    border: none;
    background: transparent;
    border: 1px solid #525252;
    width: 20rem;
    height: 3rem;
    border-radius: 1.5rem;
    color: #fff;
}

.user-input-section-profile-edit input{
    padding-left: 1rem;
    font-size: 16px;
}

.user-input-section-profile-edit button{
    background-color: #3441af;
    border: none;
    cursor: pointer;
}


/* ************ */

.user-chat-search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 10px 0;
    box-shadow: 0 2px 2px rgb(0, 0, 0, 0.251);
}

.user-chat-search {
    width: 90%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #252525;
    border-radius: 2rem;
}

.user-chat-search:hover {
    border: 1px solid #383b3b;
}

.user-chat-search:focus-within {
    border: 2px solid #708DFF;
    background-color: #161717;

    & .user-chat-search-input input {
        background-color: #161717;
    }
}

.user-chat-search input {
    width: 20vw;
    line-height: 1rem;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #252525;

    &::placeholder {
        color: #bbb;
    }
}

.user-chat-search-icon {
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-clear-icon {
    background: transparent;
    border: none;
    outline: none;
    width: 20px;
}

.search-clear-icon svg {
    display: none;
}

.user-chat-list-container {
    position: relative;
}

.user-list {
    /* display: flex; */
    /* align-items: center; */
    padding: 1.5rem 10px;
    height: 84vh;
    overflow-y: auto;
    /* background-color: red; */
    /* justify-content: center; */
    /* flex-direction: column; */
}

.user-list::-webkit-scrollbar {
    width: 0;
}

.user-search-list {
    width: 100%;
    height: 85vh;
    padding: 1.5rem 10px;
    display: none;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 0;
    }
}

.user-search-list .user{
    position: relative;
}

.user-list .user,
.user-search-list .user,
.user-message-header .user {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 1rem;
    width: 100%;
    text-decoration: none;
}

.user-list .user:hover,
.user-search-list .user:hover {
    background-color: #1c1c1c;
    border-radius: 10px;
    cursor: pointer;
}

.user-message-header .user {
    background-color: #1c1c1c;
    /* border-radius: 10px; */
}

.user-message-header .user:hover {
    background-color: #212121;
}

.user-list .user .user-img,
.user-search-list .user .user-img,
.user-message-header .user .user-img {
    background-color: #252525;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.user-list .user .user-img svg,
.user-search-list .user .user-img svg,
.user-message-header .user .user-img {
    width: 50px;
    height: 50px;
}

.user-search-list .user .follow .Follow {
    background-color: #708DFF;
}

.user-name-label {
    margin-left: 1rem;
    color: #fff;
}

.user-chat-logout {
    cursor: pointer;
    position: absolute;
    right: 2rem;
}

.user-chat-logout button {
    background: none;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    background-color: #383b3b;
    padding: 10px 15px;
    border-radius: 1.5rem;
}

.user-chat-logout button:hover {
    background-color: #525252;
}

.no-results {
    text-align: center;
    color: #fff;
}

.user-message-header {
    width: 100%;
    height: 9%;
}

@media (max-width:600px) {
    .user-message-header{
        height: fit-content;
    }
}

.user-message-container {
    width: 100%;
    height: 81%;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 0;
    }
}

.user-message-send-container {
    width: 100%;
    height: 10%;
    display: flex;
    /* align-items: center; */
    align-items: start;
    justify-content: center;
}

.user-message-send-container .user-message {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 7px 10px;
    border-radius: 2rem;
    background-color: #303030;
}

.user-attach,
.user-select-emoji,
.user-send-message {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        background-color: #252525;
    }
}

.user-attach svg,
.user-select-emoji svg,
.user-send-message svg {
    width: 25px;
}


.user-message-send-input-container input,
.user-message-send-input-container p {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 10px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    color: #fff;
}

.user-message-send-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.send {
    background-color: #1c1c1c;
}

.date-header {
    text-align: center;
    margin: 20px 0 10px 0;
    font-size: 14px;
    color: #717070;
    font-weight: 500;
}

.user-message-container .message {
    overflow-y: scroll !important;
    overflow-x: hidden;
    height: 100%; 
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 0rem 5.5rem 0rem 5.5rem;
    font-size: 14px;

    &::-webkit-scrollbar{
        width: 0;
    }
}

.user-message-container .message .msg {
    max-width: 30rem;
    min-width: 4rem;
    padding: 5px 5px 0px 5px;
    margin: 1rem 0;
    width: fit-content;
    font-size: 16px;
    /* padding-right: 2rem; */
    position: relative;
}

.user-message-container .message .msg .time {
    font-size: 10px;
    text-align: right;
    color: #b7b7b7;
    transform: translateY(-3px);
}

.user-message-container .message .msg > :first-child {
    padding-right: 2rem;
    max-width: 40rem;
    min-width: 4rem;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    word-break: break-all;
}

.user-message-container .message .sent {
    background-color: #252525;
    border-radius: 7px 0px 7px 7px;
    margin-left: auto;
    max-width: 50rem;
}

@media (max-width:600px) {
    .user-message-container .message .sent > :first-child {
        max-width: 70vw;
    }
}

.user-message-container .message .sent::after{
    content: " ";
    display: inline-block;
    position: absolute;
    right: -6px;
    top: 0;
    border-top: 5px solid #252525;
    border-left: 5px solid #252525;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-radius: 0px 3px 0px 0px;
}

.user-message-container .message .received {
    background-color: #303030;
    border-radius: 0px 7px 7px 7px;
}

.user-message-container .message .received::after{
    content: " ";
    display: inline-block;
    position: absolute;
    left: -6px;
    top: 0;
    border-top: 5px solid #303030;
    border-right: 5px solid #303030;
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-radius: 0px 0px 0px 3px;
    z-index: 1;
}

/* Online status indicator styles */
.user-status-text {
    font-size: 13px;
    color: #999;
    transition: color 0.3s ease;
}




